{% extends "agro_site/base.html" %}

{% load static %}

{% block 'maincontent' %}

<section class="about" id="about">
    <h2>Sobre nós</h2>
    <p>Explore toda a o nossa tragetória em fornecer produtos agropecuários de qualidade.</p>
    <div class="row company-info">
      <h3>Nossa história</h3>
      <p>A AgroMano teve início em 2022 quando foi adquirida por um proprietário apaixonado pelo setor agropecuário. Desde o início, nossa empresa se dedicou a fornecer produtos agropecuários e rações de alta qualidade para atender às necessidades dos produtores rurais e criadores de animais. <br> Olhando para o futuro, estamos comprometidos em continuar crescendo e evoluindo, mantendo nossa paixão pelo setor agropecuário e atendendo às demandas em constante mudança do mercado. Acreditamos que, juntos, podemos alcançar o sucesso e contribuir para o progresso e desenvolvimento da indústria agropecuária.</p>
    </div>
    <div class="row mission-vision">
      <h3>Nossa missão</h3>
      <p>Nossa missão é fornecer soluções abrangentes e de alta qualidade no setor agropecuário, atendendo às necessidades dos nossos clientes através da oferta de uma ampla variedade de produtos agropecuários e rações para animais. Buscamos promover o bem-estar animal, a produtividade e o sucesso dos nossos clientes, fornecendo produtos confiáveis, serviços excepcionais e expertise técnica.</p>
      <h3>Nossa visão</h3>
      <p>Nossa visão é nos tornarmos uma referência no mercado agropecuário, reconhecidos como uma empresa líder e confiável na oferta de produtos agropecuários e rações de alta qualidade. Queremos expandir nosso alcance, estabelecendo parcerias sólidas com produtores rurais e clientes do setor agropecuário, oferecendo um portfólio diversificado e inovador de produtos, e sendo reconhecidos pelo nosso compromisso com a qualidade, sustentabilidade e excelência no atendimento ao cliente.</p>
    </div>
    <div class="row team">
      <h3>Nosso time</h3>
      <ul>
        <li>Nelson Schramm - CEO</li>
      </ul>
    </div>
  </section>

  

{% endblock %}